---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/feed.xsl" type="text/xsl"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><![CDATA[Klehomerie Insights Lab]]></title>
    <link>https://klehomerie.com/</link>
    <description><![CDATA[Independent Technical Property Audits & Asset Management in Athens.]]></description>
    <language>en</language>
    <lastBuildDate>{{ collections.posts | getNewestCollectionItemDate | dateToRfc822 }}</lastBuildDate>
    <atom:link href="https://klehomerie.com/feed.xml" rel="self" type="application/rss+xml"/>
    
    {%- for post in collections.posts %}
    <item>
      <title><![CDATA[{{ post.data.title }}]]></title>
      <link>https://klehomerie.com{{ post.url }}</link>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid isPermaLink="true">https://klehomerie.com{{ post.url }}</guid>
      <description><![CDATA[{{ post.data.summary }}]]></description>
    </item>
    {%- endfor %}
  </channel>
</rss>