---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Disallow: /admin/
Disallow: /success/
Disallow: /404.html

Sitemap: {{ siteUrl or "https://klehomerie.com" }}/sitemap.xml